/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Roboto:wght@100;300;400;500;700;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* variables */
:root {
  --primary-text: hsl(0deg 0% 2%);
  --secondary-text: hsl(220deg 3% 41%);
  --green: hsl(134deg 61% 41%);
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* global */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  color: var(--primary-text);
}

input {
  border: none;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border-radius: 0.5rem;
  border: none;
  font-weight: 500;
  padding: 0.75rem;
}

button,
a {
  cursor: pointer;
}

i {
  font-style: normal;
}

html {
  font-size: 16px;
}
