.sidebar {
  flex: 3;
  height: calc(100vh - 5rem);
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-trackbar {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
}

.sidebar-wrapper {
  padding: 1.5rem;
}

.sidebar-list-item {
  gap: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  cursor: pointer;
}

.sidebar-button {
  width: 8.5rem;
  margin: 0.5rem 0;
}

.sidebar-hr {
  margin: 2rem 0;
}

.sidebar-friend {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.sidebar-friend-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
