.rightbar {
  flex: 3.5;
  padding: 1rem;
}

.rightbar h3 {
  font-size: 1.175rem;
  opacity: 0.55;
  margin: 1.125rem 0;
  line-height: 0.75rem;
}

.birthday-container {
  display: flex;
  gap: 0.5rem;
}

.birthday-icon {
  height: 2.5rem;
  width: 2.5rem;
}

.birthday-text {
  font-weight: 300;
  line-height: 1.5rem;
}
